
<% data.forEach(function(log) { %>		
<div class="deal dealstyle_brand_index">
	<div class="con" data-id="<%=log.dealid%>">    		
		<a class="goods_img" target="_blank" href="http://www.52xie.com/<%=log.href%>">
			<img src="<%=log.picsrc%>" width="312" height="208" style="display: inline;">    			
		</a>    		
		<h3><%=log.name%></h3>
		<h4><em><b>¥</b><%=log.price%></em></h4>
		<a href="/dealpage?url=http://www.52xie.com/<%=log.href%>" target="_blank"><h4><em><b>进入评论页&gt;&gt;</b></em></h4></a>
	</div>
</div>

<% }); %>
